@charset "UTF-8";

form {
    width: 500px;
    margin: auto;

}
input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.7);

}
input:hover, textarea:hover {
    background-color: #dddddd;
}
label.cadastro {
    text-align: justify-all;
}


legends {
    color: #888888;
    font-size: 13pt;
    font-weight: bold;
    font-family: sans-serif;
}
fieldset {
    border-color: #cecece;
    margin: 20px;
}

fieldset#cadastro {
background: url("../_imagens/addressbook-icon.png") no-repeat 95% 95%;

}
fieldset#registro{
    background: url("../_imagens/alert-clock-icon.png") no-repeat 95% 95%;
}
fieldset#local {
    background: url("../_imagens/location.png")  no-repeat 95% 95%;
}
fieldset#listar{
    background: url("../_imagens/list-icon.png") no-repeat 95% 95%;

}
fieldset#remover{
    background: url("../_imagens/remove.png") no-repeat 95% 95%;
}
fieldset#atualizar {
    background: url("../_imagens/update-button.png")  no-repeat 95% 95%;
}