<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<element>

<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<servlet>
		<description>
		</description>
		<display-name>AtualizarServlet</display-name>
		<servlet-name>AtualizarServlet</servlet-name>
		<servlet-class>servlet.AtualizarServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RecebeAtualizarServlet</display-name>
		<servlet-name>RecebeAtualizarServlet</servlet-name>
		<servlet-class>servlet.RecebeAtualizarServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletRegistroTerminal</display-name>
		<servlet-name>ServletRegistroTerminal</servlet-name>
		<servlet-class>registro_terminal.ServletRegistroTerminal</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RecebeAtualizarServlet</servlet-name>
		<url-pattern>/RecebeAtualizarServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRegistroTerminal</servlet-name>
		<url-pattern>/ServletRegistroTerminal</url-pattern>
	</servlet-mapping>

</web-app>
</element>